include README.md
include LICENSE
include MANIFEST.in
include requirement.md
recursive-include beagle_sdk *.py
recursive-include examples *.py
recursive-include tests *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
